@model IList<WISModels.InvoiceDetailModel>
@*@model  WISModels.InvoiceModel*@
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading"> Current GL#Recovery</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    @if (Model!= null)
                     { 
                        
                        <div class="in-line"><a class="underline" target="_blank"  id="GLCode" href=" @Url.Action("GetGLCodeInvoiceSummary", "Reports")">#CB29200.000.000030</a> -$@ViewBag.GL2Total </div>
                        <div class="in-line"><a class="underline" target="_blank" id="GLCode" href=" @Url.Action("GetGL1CodeInvoiceSummary", "Reports")">#CW29200.000.000070</a> -$@ViewBag.GL1Total </div>
                       
                     }

                </div>

            </div>
        </div>
    </div>
</div>







